<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SampleKey1" value="SampleValue1" />
    <add key="SampleKey2" value="SampleValue2" />
    <add key="TestKey" value="Initial"/>
    <!-- Add more keys and values as needed -->
  </appSettings>
  <connectionStrings>
    <add name="SampleConnection1" connectionString="SampleConnectionString1" providerName="System.Data.SqlClient" />
    <add name="SampleConnection2" connectionString="SampleConnectionString2" providerName="System.Data.SqlClient" />
    <!-- Add more connection strings as needed -->
  </connectionStrings>
</configuration>